<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active text-primary">GTI CvTech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active text-primary">accueil</a>
        <a class="nav-link" [routerLink]="['cv']" [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active text-primary">cv</a>
        <a
          *ngIf="authService.isAuthenticated()"
          class="nav-link" [routerLink]="['cv', 'add']" routerLinkActive="active text-primary">add cv</a>
        <a class="nav-link" [routerLink]="['todo']" routerLinkActive="active text-primary">todo</a>
        <a class="nav-link" [routerLink]="['word']" routerLinkActive="active text-primary">word</a>
        <a class="nav-link" [routerLink]="['color']" routerLinkActive="active text-primary">color</a>
        <a
          *ngIf="!authService.isAuthenticated()"
          class="nav-link" [routerLink]="['login']" routerLinkActive="active text-primary">login</a>
        <a
          *ngIf="authService.isAuthenticated()"
          class="nav-link" (click)="logout()">logout</a>
      </div>
    </div>
  </div>
</nav>
