<div class="row">
  <div class="col">
    <!-- appList(cvs) -->
    <div class="alert alert-warning">
      {{ now | date: "full" | uppercase }}
      <!--       <p>{{ 1 | btcUsd | currency }}</p>
      <p>{{ 1 | btcUsd: false }}</p> -->
    </div><!-- (forwardCv)="getSelectedCv($event)" -->
    <div class="alert alert-info">
      Le nombre de cv sélectionné est {{nbClick}}
    </div>
    <app-list [cvs]="cvs"></app-list>
  </div>
  <div class="col">
    <app-cv-card></app-cv-card>
  </div>
</div>
<div class="row">
  <app-embauche></app-embauche>
</div>
